.card-box {
  position: relative;
}
.card-side {
  height: 10rem;
  width: 10rem;
  position: absolute;
    top: 0;
    left: 0;
  transition: all 1s ease;
  backface-visibility: hidden;
}
.card-front {
  background-image: linear-gradient(to right bottom, #55c57a, #28b485);
}

.card-back {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
  transform: rotateY(180deg);
}
.card-box:hover .card-front {
  transform: rotateY(-180deg);
}
.card-box:hover .card-back {
  transform: rotateY(0);
}

